.content {
    border: 20px solid white;
    background-color: rgba(0,0,0,0.05);
    box-sizing: border-box;
    min-width: 300px;
}

a {
    text-decoration: none;
}

header {
    background-color: rgba(255,85,112,1);
}
header>a {
    color: black;
}

.title {
    font-family: 'Josefin Sans', sans-serif;
}

.subtitle {
    font-family: 'Red Hat Display', sans-serif;
    color: antiquewhite;
    font-size: 20px;
    text-align: end;
    margin-top: 30px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 60px;
    margin-top: 50px;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:stretch;
}

@media (min-width: 510px) {
    .grid {
        margin-right: 20%;
    }

    header {
        min-width: 250px;
        margin: 50px 100px 30px 30px;
        padding: 60px;
    }

    .title {
        font-size: 3em;
    }

    p {
        font-size: 35px;
    }
}

@media (max-width: 509px) {
    .grid {
        padding: 0 20px;
    }

    header {
        min-width: 150px;
        margin: 30px 60px 30px 10px;
        padding: 40px;
    }

    .title {
        font-size: 2.5em;
    }

    p {
        font-size: 15px;
    }
    
}

li{
    list-style-type: none;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -15%);
    top: 50%;
    left: 50%;
}

.challenge {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    width: 80px;
    height: 80px;
    margin: 5px;
}

.challenge:hover {
    animation: shrink 1s ease-out;
  }

  @keyframes shrink {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.9);
    }
  }

.active {
    background-color:rgba(255,85,112,1);
}

.inactive {
    background-color: gray;
}

.grid>a {
    color: antiquewhite;
    position: relative;
}