.back{
    position: absolute;
    color:#1f2e55;
    z-index: 1;
    font-size: 2em;
    margin: 5px;
    top: 0;
    left: 0;
}
.atribution {
    position: absolute;
    top: 3px;
    left: 50px;
    font-size: 11px;
    color: #1f2e55;
    text-decoration: none;
}
