@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway&display=swap');
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background: #2b2b2b;
    transition: 0.5s;
}
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    transition: 0.5s;
}
img {
    width: 600px;
    height: auto;
    border-radius: 5px;
    margin: -10px;
    transition: 0.5s;
    object-fit: cover;
}
dialog::backdrop {
    background-color: rgb(0 0 0 / .3);
    }

dialog {
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 1em rgb( 0 0 0 / .3);
    width: 45%;
    font-family: 'Raleway', sans-serif;
}

dialog > button {
    float: center;
}